@tailwind base;
@tailwind components;
@tailwind utilities;

/*colors var*/
@layer utilities {
    /* Colors variables */
    :root {
        --color-primary: #FFB86F;
        --color-secondary: #FFD700;
        --color-agree: #66FF00;
        --color-disagree: #E32636;
        --color-background-primary: #804c2c;
        --color-background-secondary: #e6cfaf;
    }

    /*gradient var*/
    .header-gradient {
        background: rgb(230,207,175);
        background: linear-gradient(90deg, rgba(230,207,175,1) 10%, rgba(121,73,41,1) 25%, rgba(121,73,41,1) 73%, rgba(237,222,186,1) 88%);   }
    /*svg vars*/
    .header__svg-fill-primary {
       fill: var(--color-primary);
    }
    .header__svg-fill-secondary {
        fill: var(--color-secondary);
    }
    .modal__svg-fill--plus {
        color: var(--color-agree);
    }
    .modal__svg-fill--minus {
        color: var(--color-disagree);
    }
    /*texts vars*/
    .text-color-primary {
        color: var(--color-primary);
    }
    .text-color-secondary {
        color: var(--color-secondary);
    }
    /*background*/
    .background {
        background: var(--color-background-primary);
    }
    .background-secondary {
        background: var(--color-background-secondary);
    }
}


@layer components {
    /*container for content*/
    .container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 12px 24px;
    }
    /*after underline link*/
    .link::after {
        content: '';
        border: 1px solid transparent;
        position: absolute;
        bottom: -5px;
        right: 0;
        width: 0%;
        height: 0%;
        transition: all 0.5s;
    }

    .link:hover::after {
        border: 1px solid var(--color-secondary);
        width: 100%;
        left: 0;
    }
    /*button's*/
    .button {
        display: inline-block;
    }
}


@layer base {
    body {
        background: rgb(230, 207, 175);
        background: linear-gradient(90deg, rgba(230, 207, 175, 1) 10%, rgba(121, 73, 41, 1) 25%, rgba(121, 73, 41, 1) 73%, rgba(237, 222, 186, 1) 88%);
    }
}